body {
    frot-family: Arial, sans-serif;
    text-align: center;
    margin=top: 50px;
    backgraund=color: #f4f4f4;
}
h1 {
    color: #4CAF50;
}
input, button {
    padding: 10px
    width: 300px
    margin: 10px
}
button {
    backgraund-color: #4CAF50;
    color: white;
    border: nome;
    cursor: pointer;
}
button:hover {
    backgraund-color: #45a049;
}